body{
    /* background-color: aqua;
    background-image: url(img/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */

    /* Background Shorthand */
    
    background: aqua url(img/bg.png) center center/100% 100% no-repeat fixed;
}
h1{
    background-color: orange;
}